[submodule "texrecon"]
	path = texrecon
	url = https://github.com/NeoGeographyToolkit/mvs-texturing.git
[submodule "voxblox"]
	path = voxblox
	url = https://github.com/NeoGeographyToolkit/voxblox.git
[submodule "mapmap"]
	path = mapmap
	url = https://github.com/NeoGeographyToolkit/mapmap_cpu.git
[submodule "mve"]
	path = mve
	url = https://github.com/NeoGeographyToolkit/mve.git
[submodule "rayint"]
	path = rayint
	url = https://github.com/NeoGeographyToolkit/rayint.git
[submodule "TheiaSfM"]
	path = TheiaSfM
	url = https://github.com/NeoGeographyToolkit/TheiaSfM.git
[submodule "oiio"]
	path = OpenImageIO
	url = https://github.com/NeoGeographyToolkit/oiio.git
[submodule "cgal_tools"]
	path = cgal_tools
	url = https://github.com/NeoGeographyToolkit/cgal_tools.git
